body{
  font-family: 'Montserrat', 'Helvetica'
}

.container{
  margin: 0px auto;
  width: 589px;
}

h1 {
  font-family: 'Oswald';
  text-align: center;
  font-size: 4.5em;
}

#tayo{
  font-family: 'Montserrat', 'Helvetica'
}

#search {
  width: 100%;
}

#search .search-string {
  font-family: 'Oswald';
  width: 100%;
  font-size: 2em;
}

#results {
  padding: 0;
}

.result-wrapper{
  width: 523px;
}

.result {
  list-style: none;
  padding: 2em;
  background: #eee;
  border: 1px solid #bbb;
}

.result:hover {
  background-color: #333;
  cursor: pointer;
  color: #fff;
}

.result .container {
  display: inline-block;
  vertical-align: middle;
}

.result .description,
.result .title {
  padding: 0px;
  margin: 0px;
}

.result .thumbnail {
  width: 100%;
}
